extends layout

block content
  header
    div.d-flex.align-items-center.justify-content-around.py-3
      h1.fs-2 OnlyMembers
      if user
        div.d-flex.flex-row.align-items-center
          a.btn.btn-primary.me-3.px-4.py-2(role="button" href="/create_message") New Message
          div.dropdown
            button.btn.btn-primary.dropdown-toggle.px-4.py-2(type="button" data-bs-toggle="dropdown" aria-expanded="false") Account 
            ul.dropdown-menu
              li
                strong.dropdown-item-text Hello, #{user.name}
              li
                a.dropdown-item.btn.btn-primary.px-4.py-2(role="button") Your Mesages
              li
                a.dropdown-item.btn.btn-primary.px-4.py-2(role="button" href="/logout") Log Out
      else 
        div
          a.btn.btn-primary.me-3.px-4.py-2(role="button" href="/login") Log In
          a.btn.btn-primary.ms-3.px-4.py-2(role="button" href="/signup") Sign Up
  main
    h2.fs-1.text-center.mb-5.p-4.bg-body-tertiary.border-top Messages
    div.d-flex.flex-column.align-items-center
      each message in messages 
        div.card.col-11.col-sm-10.col-md-8.col-lg-6.mb-5
          div.card-header.p-3.text-bg-dark #{message.messageTitle}
          div.card-body.text-bg-light #{message.messageText}
          div.card-footer.d-flex.justify-content-between
            strong Created by #{message.user.name}
            strong Sent on #{message.createdAt.toLocaleDateString()}, #{message.createdAt.getHours()}:#{message.createdAt.getMinutes()}:#{message.createdAt.getSeconds()}