extends layout

block content
    div.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center
        div.col-11.col-sm-10.col-md-8.col-lg-6.mb-5
            h1.text-center.mb-5 Sign up to Only Members!
            form(method="POST" actions="")
                div.form-group.mb-3
                    label.form-label(for="name") #[strong Username]
                    input.form-control(type="text" id="name" name="name" required minlength="3" maxlength="64" value=formData.name)

                    if errors && errors.length > 0
                        each error in errors 
                            if error.path === "name"
                                div.alert.alert-danger.mt-1=error.msg

                div.form-group.mb-3
                    label.form-label(for="email") #[strong Email address] 
                    input.form-control(type="email" id="email" name="email" required value=formData.email)

                    if errors && errors.length > 0
                        each error in errors 
                            if error.path === "email"
                                div.alert.alert-danger.mt-1=error.msg

                div.form-group.mb-3
                    label.form-label(for="password") #[strong Password] 
                    input.form-control(type="password" id="password" name="password" required value=formData.password)

                    if errors && errors.length > 0
                        each error in errors 
                            if error.path === "password"
                                div.alert.alert-danger.mt-1=error.msg

                div.form-group.mb-3
                    label.form-label(for="confirmPassword") #[strong Confirm Password] 
                    input.form-control(type="password" id="confirmPassword" name="confirmPassword" required value=formData.confirmPassword)

                    if errors && errors.length > 0
                        each error in errors 
                            if error.path === "confirmPassword"
                                div.alert.alert-danger.mt-1=error.msg

                div.d-grid.col
                    button.btn.btn-primary(type="submit") Sign Up

            if errors && errors.length > 0
                        each error in errors 
                            if error.path === "existedEmail"
                                div.alert.alert-danger.mt-3=error.msg
                            if error.path === "existedUsername"
                                div.alert.alert-danger.mt-3=error.msg
            
        a.btn.btn-success.px-4.py-2.mt-5(role="button" href="/") Back to Main Menu